
// Variabili globali
$font-family-base: 'Inter', sans-serif;
$color-primary: #3F83F8; 
$color-secondary: #111928; 
$color-third: #ffffff; 
$color-success: #28a745;
$color-error: #dc3545; 

// Variabili per le media query
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
