@import './assets/scss/_variables';

// Regole base per il body
body {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  color: $color-secondary;
  background-color: #fff; // Sfondo chiaro per contrasto; cambialo a seconda delle tue esigenze
  line-height: 1.6; // Spaziatura verticale per una migliore leggibilità
}

// Impostazioni di base per i link
a {
  color: $color-primary;
  text-decoration: none; // Rimuove il sottolineamento di default

  &:hover {
    text-decoration: none; // Aggiunge un sottolineamento al passaggio del mouse per indicare la possibilità di cliccare
  }
}

// Impostazioni per i container e la griglia se necessario
.container {
  max-width: 1200px; // Imposta una larghezza massima per il contenuto centrale
  margin: 0 auto; // Centra il contenuto nella pagina
  padding: 0 15px; // Aggiunge un po' di spazio ai lati

  @media (max-width: $breakpoint-md) {
    max-width: 100%; // Larghezza massima per dispositivi più piccoli
  }
}

// Regole per gli header
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500; // Peso del carattere meno pesante per un design più moderno
  line-height: 1.2;
}

// Regole per i paragrafi
p {
  margin-top: 0;
  margin-bottom: 1rem; // Spazio aggiuntivo sotto i paragrafi per separarli dal contenuto seguente
}

// Utility classes (esempio)
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// Mobile First Media Queries
@media (min-width: 576px) {
  // Regole specifiche per tablet, desktop, ecc.
}

// Esempio di utilizzo di mixin per i media query
@mixin for-desktop {
  @media (min-width: 992px) { @content; }
}

// Uso del mixin
.box {
  width: 100%;

  @include for-desktop {
    width: 50%; // Larghezza della box su schermi desktop
  }
}

.primary-color {
  color: $color-primary;
}

.btn-primary {
  background-color: #1C64F2;
  color: $color-third;
  padding: 12px 77px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: var(--white, #FFF);

  font-size: 16px;
  font-weight: 500;
  line-height: 150%; /* 24px */

  &:hover {
    background-color: darken($color-primary, 10%);
  }
}